<tr>
  <th>
    <h4><%= product.name %></h4>
    <%= link_to product_path(product) do %>
      <%= image_tag product.image.thumb.url , class: 'rounded img-thumbnail float-left', alt: product.name %>
    <% end %>
  </th>
  <th>
    <p><%= product.description %></p>
  </th>
  <th>
    <%= humanized_money_with_symbol price %>
  </th>
  <th>
    <%= quantity %>
  </th>
  <th>
    <%= humanized_money_with_symbol item_total %>
  </th>
</tr>
